@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Noto Sans", sans-serif;
}

body {
  background: rgb(25, 29, 35);
}
.option {
  border: 1.5px solid #878a8a;
  border-radius: 14px 4px 4px 14px;
  width: max-content;
  padding: 0 4px 0 8px;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 25px;
  margin: 3px 0;
}
.option input:first-child {
  appearance: none;
  border: none;
  background: none;
  color: #e0f2f4;
  font-weight: 500;
  font-size: 14px;
  width: 167px;
}
.option svg:first-of-type {
  width: 9px;
  height: 9px;
  margin-right: 4px;
}
.divider {
  width: 1.5px;
  background: #6b6e70;
  height: 35px;
  margin: 0 3px;
}
.string {
  padding: 0px 6px;
  min-height: 35px;
  border: none;
  background: none;
  color: #2dff30;
  font-weight: 500;
  font-size: 14px;
  width: 52px;
}
.argument-label {
  font-size: 14px;
  color: #151a22;
  font-style: italic;
  margin: 3px 4px 3px 1px;
  background: #9f9f9f;
  padding: 5px 5px;
  border-radius: 4px;
}
