@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  background: rgb(25, 29, 35);
  color: white;

  --border: 1.5px solid rgb(178, 190, 233);
  --border-gap: 7px;
  --text-color: #d4d4d4;
}

.option {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--border-gap);
  width: max-content;
  border-radius: 8px;
  padding: var(--border-gap);
  background: #6565655c;
  box-shadow: 0 0 30px #a3a3a30a;
  font-weight: 500;
  color: var(--text-color);
  border: 0.5px solid #696666;
  box-sizing: border-box;
  max-width: 100%;
  box-shadow: inset 0 0 30px #9999990d;

  &:last-child {
    margin-bottom: 0;
  }
}

.option:not(.option .option) {
  margin: var(--border-gap);
  max-width: calc(100vw - 2 * var(--border-gap));
}

.option:has(+ br) {
  margin-bottom: var(--border-gap);
}
.option-name:has(+ br) {
  margin-bottom: var(--border-gap);
}

.option-name svg {
  width: 8px;
  height: 8px;
  position: relative;
  top: -2px;
}

.number, .string {
  border-bottom: 1.5px solid var(--text-color);
  padding: 0 5px;
}

.string {
  color: #2dff30;
  /* border-color: #2dff30; */
}

.number {
  color: rgb(255, 124, 80);
}
